
body.authentication-section{
    background-color: #dee9ff;
}
.authentication-form{
	padding: 50px 0;
  
}

.authentication-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.authentication-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 75px;
}

.authentication-form .item{
	border-radius: 18px;
    margin-bottom: 30px;
    padding: 24px 20px;
}

.authentication-form .submit-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.alert {
    position: static;
    margin-bottom: 25px; /* or use 'relative' if you want to adjust the positioning */
}


@media (max-width: 576px) {
    .authentication-form form{
        padding: 50px 20px;
    }

    .authentication-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}