{% extends 'base.html' %}

{% block title %} - {{current_user.username.title()}}/Reset Password{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}


{% block content %}
{% if request.endpoint == 'reset_password' %}
<body class="authentication-section">
{% else %}
<body>
{% endif %}
<div class="authentication-form authentication-section">

      <form action="{{ url_for('reset_password',username=current_user.username) }}" method="POST">
        {{ form.csrf_token }}

        <div class="form-icon">
          <span><i class="icon icon-user"></i></span>
        </div>

        <h2 class="text-center mb-5">Reset Password</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {%for category, message in messages%}
                <div class="alert alert-{{category}}" role="alert" id="flash-message">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
        {% endwith %}

        {% if form.new_confirm_password.errors %}
            <div class="alert alert-danger mt-2" role="alert">
                {{ form.new_confirm_password.errors[0] }}
            </div>
        {% endif %}
        <div class="form-group">
          {{ form.old_password(class="form-control item", placeholder="Enter your old password", required="required") }}
        </div>
        <div class="form-group">
          {{ form.new_password(class="form-control item", placeholder="Enter your new password", required="required") }}
        </div>
        <div class="form-group">
          {{ form.new_confirm_password(class="form-control item", placeholder="Confirm your new password", required="required") }}
          
        </div>

        <div class="form-group mt-5">
          <button type="submit" class="btn btn-block submit-account">Reset Password</button>
        </div>
        
      </form>
</div>
</body>
{% endblock %}
